{% extends "base.html" %}

{% block extrahead %}
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
{% endblock %}

{% block disqus %}
    {% if page.meta and page.meta.nocomment %}
    {% else %}
        <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: 'xDrckkl2vHL9YckldvcNF91x-gzGzoHsz',
                appKey: 'xKJU33vs6CljIos3EQ0LuKGW'
            })
        </script>
    {% endif %}
{% endblock %}